:root {
    --color1: rgb(127, 113, 187);
    --color2: white;
    --color3: grey;
    --color4: #613e5f;
    --color5: #c8b6a7;
    --color6: #4397b0;
    --color7: black;
    --color8: #c3deec;
    --transition: all 0.3s ease-in-out;
    --color9:green;
}


body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-height: 100vh;
    display:grid;
    grid-template-rows: auto 1fr;
    gap:30px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
   
}
.container {
    max-width: 1200px;
    width:90%;
    margin:auto;
}

header{
    background-color: var(--color1);
    color:var(--color2);
    padding-block:20px;
  
}

header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
}
.cart-butn {
    background-color: transparent;
    padding: 3px 8px;
    color: inherit;
    position: relative;
}

.cart-butn .bi {
 font-size: 1.5rem;
}

.cart-qntity {
    position: absolute;
    top:0;
    right: 0;
    background-color: var(--color7);
    transform: translate(50%,-50%);
    padding: 0px 5px;
    border-radius: 3px;
}

.cart-butn:hover {
    background-color: var(--color5);
}
button{
    cursor: pointer;
    padding:3px 10px;
    border:none;
    border-radius: 3px;
    transition: var(--transition);
}

.products {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr)) ;
    gap:20px;
}

img {
    width:100%;
    height:auto;
    display:block;
}

.product{
    text-align: center;
    position: relative;
}

.product img {
    height: 250px;
    object-fit: contain;
}


.product h3 {
    margin-top: 10px;
    color: var(--color3);
    font-size: 1rem;
}

.product h5{
    margin-top: 5px;
    color: var(--color6);
}

.product button {

    display:flex;
    align-items: center;
    gap:5px;
    position: absolute;
    top:10px;
    right:10px;
    background-color: var(--color1);
    color: var(--color2);
    padding:7px 10px;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0;
  
}

.product:hover img {
    opacity: 0.75;
    cursor: pointer;
}

.product:hover button {
    opacity: 1;
}



.product button::before{
    font-family: "bootstrap-icons";
    font-size: 1.25rem;
    content: "\F23F";
}

.product button:disabled:before{
    font-family: "bootstrap-icons";
    font-size: 1.25rem;
    content: "\F23A";
}
.product button:hover {
    background-color: var(--color4);
}
.product button:disabled {
    background-color: var(--color1);
    filter: brightness(1.35);
}










.cart{
   
    position: fixed;
    inset-block: 0;
    right: 0;
    width: 100%;
    max-width: 428px;
    padding: 20px;
    transform: translate(100%);
    transition: var(--transition);
    background-color:white;
    color:var(--color4);
    overflow-y: scroll;
    
    
    
}

.cart-header {
    position: relative;
    text-align: center;
}

.bi-arrow-right {
    position: absolute;
    top: 0;
    left:0;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart-body {
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 700;
}

.each-item {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.cart-items {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    gap:20px;
}


.cart-gallery img {
    width:100px;
    height:100px;
    object-fit: contain;
}

.cart-description {
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-description h3,h5 {
    margin: 0;
    padding: 0;
}
.number-of-items {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    width:350px;
}

.number-of-items > strong {
  font-size: 1.5rem;
}

.cart-quantity {
   font-size: 1.5rem;
   display: flex;
   justify-content: start;
   gap:1rem;
   margin-left: 7rem;
   width:50%;
}
.cart-empty {
    display: flex;
    justify-content: center;
    visibility: hidden;
}


.cart-total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(205, 203, 203);
}

.cart-footer {
    position: sticky;
    bottom: 0;
}

.cart-butn-footr  {
   
     display: flex;
     justify-content: space-between;
     color: white;
     padding: 10px 10px;
  
} 

.cart-butn-footr  button {
    background-color: #613e5f;
    color: white;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    width:40%;
}




